*{
	font:14px Arial;
	color:#777;
	margin:0;
	padding:0;
}
h1{
	font:24px Arial;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:underline;
	padding-bottom:30px;
}
body{
	margin:0;
	padding:0;
}
input, input[type="text"], input[type="file"]{
	border:1px solid #777;
	border-radius:5px;
	padding:12px;
	width:100%;
	color:#777;
}
input[type="file"]{
	border:none;
}
#container{
	width:1000px;height:auto;margin:0 auto;padding:20px;
	background-color:#FFF;
}
table#insert{
	width:765px;
	margin:0 auto;
}
table#insert td{
	padding:10px;
}
table#insert td:nth-child(1){
	text-align:right;
	width:200px;
}
table#insert tr:nth-child(2) td:nth-child(1), table#insert tr:nth-child(2) td:nth-child(2){
	width:200px;
}
textarea{
	width:530px;
	height:200px;
	padding:10px;
}
button{
	padding:7px 13px;
	border-radius:3px;
	border:1px solid #AAA;
	font-weight:bold;
	padding:10px 20px;
}
button:hover{
	color:#FFF;
	background-color:#AAA;
}
table#list{
	width:100%;
}
table#list, table #list tr, table#list td, table#list th{
	border-collapse:collapse;
	border:1px solid #CCC;
}
table#list{
	border:none;
}
table#list th, table#list td{
	margin:25px;
	padding:25px 10px;
}
table#list th{
	background-color:#DDD;	
}
table#list tr:nth-child(even){
	background-color:#EEE;
}
table#list th{
	text-transform:uppercase;
	font-weight:bold;
}
table#list td{
	text-align:left;
	font-size:14px;	
}
table#list td:nth-child(7), table#list td:nth-child(8){
	text-align:center;
}
table#list th:nth-child(1), #list td:nth-child(1){
	text-align:right;
	width:30px;
}
#insert{
	text-align:right;
	padding-top:20px;
}
#dUrl{
	background-color:#DDD;
	text-align:right;
	color:#777;
}
#dUrl, select, textarea{
	border:1px solid #888;
	border-radius:3px;
	padding:5px 10px;
}
textarea{
	padding:10px;
}
button[name="btVoltar"]{
	background-color:#75B8E8;
	margin-left:20px;
	color:#FFF;
	font-weight:bold;
	letter-spacing:2px;
	padding:10px 20px;
	border:1px solid #4553E8;
}
button[name="btVoltar"]:hover{
	color:#FFF;
	background-color:#9045E8;
}
header{
	height:80px;
	background-color:#7046FF;
	font-size:34px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	padding-top:30px;
	border-bottom:5px solid #0000E8;
	text-transform:uppercase;
	letter-spacing:2px;
	word-spacing:10px;
}
footer{
	height:50px;
	background-color:#7046FF;
	font-size:14px;
	color:#FFF;
	text-align:center;
	padding-top:20px;
	border-top:5px solid #0000E8;
	letter-spacing:1px;
}
input[type="image"]{
	height:20px;
	width:20px;
	border:0;
}